.app-container {
  text-align: center;
  background-color: #f2f2f2;
  padding: 20px;
}

.version-label {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.line::before,
.line::after {
  content: "";
  flex-grow: 1;
  border-bottom: 1px solid #ccc;
  margin: 0 10px;
}

.result-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
  margin: 20px auto;
  background-color: rgba(0, 123, 255, 0.5);
  border-radius: 25px;
}

.result-container p {
  font-size: 20px;
  color: white;
  margin: 0;
}

.btn {
  width: 20%;
  height: 50px;
  font-size: 20px;
  border-radius: 25px;
  margin: 5px;
  background-color: white;
  color: black;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
  background-color: #e0e0e0;
  color: black;
}

.btn-danger {
  border-color: red;
}

.btn-success {
  border-color: green;
}

@media screen and (max-width: 768px) {
  .app-container {
    padding: 10px;
  }

  .btn {
    width: 40%;
  }
}
